<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF8MB4" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <link rel="stylesheet" href="/static/w3.css">  
  <title>Friends</title>
</head>
<body>
  {# {{ all_friends }} #}
  <h1>These are all my friends!</h1>
  {% for friend in all_friends: %}
  <!-- <div class="w3-panel w3-padding-large w3-margin w3-card-4 w3-pale-green"> -->
  <div class='w3-ul w3-panel w3-pale-green'>
    <!-- <p>ID: {{ friend['id'] }}</p> -->
    <li><p>First Name: {{ friend['first_name'] }}</p>
    <p>Last Name: {{ friend['last_name'] }}</p>
    <p>Occupation: {{ friend['occupation'] }}</p></li>
    <!-- <hr> -->
  </div>
  {% endfor %}
  <!-- <div class='w3-list'> -->
    <h2>Add a Friend</h2>
    <form action='/' method='POST'>
      <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
      <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
      <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
      <input type="submit" value="Add">
    </form>  
  <!-- </div> -->
</body>
</html>
